<nav class="bg-slate-200 p-3">
    <ul class="flex gap-2 justify-between">
        <div class="flex gap-4">
            <li><a class="font-bold" routerLink="/home">Cake Heaven</a></li>
            <li routerLinkActive="text-red-500"><a routerLink="/home">Home</a></li>
            <li routerLinkActive="text-red-500"><a routerLink="/cakes">Cakes</a></li>
        </div>
        <div class="flex gap-4">
            <li routerLinkActive="text-red-500"><a routerLink="/contact">Contact</a></li>
            <li routerLinkActive="text-red-500"><a routerLink="/profile">Profile</a></li>
        </div>
    </ul>
</nav>